---
import "../styles/Style.css"
import Layout from "../layouts/Layout.astro"
---

<Layout title='Camilo Fetecua'>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        
        <header>
            <!-- <div class="logo">
                <a href="#">Camilo</a>
            </div> -->
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" onclick="seleccionar()">HOME</a></li>
                    <li><a href="#sobremi" onclick="seleccionar()">ABOUT ME</a></li>
                    <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                    <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                    <li><a href="#contacto" onclick="seleccionar()">CONTACT</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>

    <script>
       
    </script>
    

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
        <!-- <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="../../assets/img/hero.jpg" alt="main p">
            </div>
            <h1>CAMILO FETECUA</h1>
            <h2>Software developer</h2>
            <div class="redes">
                <!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a> -->
                <!-- <a href="#"><i class="fa-brands fa-twitter"></i></a> -->
                <!-- Enlace a GitHub -->
                <a href="https://github.com/camilof91" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
                
                <!-- Enlace a LinkedIn -->
                <a href="https://www.linkedin.com/in/camilo-fetecua" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                
                <!-- Enlace a Medium -->
                <a href="https://medium.com/@camilofetecua2011" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-m"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- SECCION SOBRE MI -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>About ME</h2>
            <p style="text-align: justify;"><span>Hi, i'm Camilo.</span> I am a technologist in training in IT Development, and I have completed a 9-month intensive training to become a Developer. I have experience with the SCRUM methodology and strong knowledge of programming languages like JavaScript, TypeScript, CSS, HTML, and Python. My main interests are in requirement analysis, software development, and web development. I have gained significant experience in peer-to-peer project-based learning, which has improved my technical and soft skills.
                I am currently studying English at a B1 level and have strong assertive communication skills, effective teamwork, and an analytical approach to problem-solving, which allows me to adapt and contribute effectively in different work environments.</p>

                <div class="fila">
                   <!-- lenguaje -->
                    <div class="col">
                        <h3>Languages</h3>
                        <ul>
                            <li>
                                <strong>English:</strong> B1 level
                            </li>
                            <li>
                                <strong>Spanish:</strong> Native
                            </li>
                        </ul>
                    </div>

                    <!-- intereses -->

                    <div class="col">
                        <h3>Interests</h3>
                        <div class="contenedor-intereses">
                            <div class="interes">
                                <i class="fa-solid fa-headphones"></i>
                                <span>MUSIC</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-plane"></i>
                                <span>TRAVEL</span>
                            </div>
                            <div class="interes">
                                <i class="fa-brands fa-linux"></i>
                                <span>LINUX</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-person-hiking"></i>
                                <span>SPORTS</span>
                            </div>
                            <div class="interes">
                                <i class="fa-solid fa-book"></i>
                                <span>BOOKS</span>
                            </div>
                            <!-- <div class="interes">
                              <i class="fa-solid fa-camera"></i>
                              <span>FOTOS</span>
                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="Document1.pdf" download="Document1.pdf"></a>
                <button>
                    DOWNLOAD CV <i class="fa-solid fa-file"></i>
                    <span class="overlay"></span>
                </button>
            </div>


        </div>
    </section>

    <!-- Espacio -->
    <!-- <div class="espacio">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->

    <!-- SECCION SKILLS -->
    <section id="skills" class="skills">
        <div class="contenido-seccion">
            <h2>Skills</h2>
            <div class="fila">
                <div class="col">
                    <h3>Technical Skills</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-brands fa-js"></i>
                            <span>JavaScript</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-css3-alt"></i>
                            <span>HTML</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-html5"></i>
                            <span>CSS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-python"></i>
                            <span>Python</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-git"></i>
                            <span>Git</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-github"></i>
                            <span>Github</span>
                        </div>
                        <div class="interes">
                            <span
                                class="icon-svg typescript-icon"
                                style="font-size: 30px;"></span>
                                <br>
                            <span>TypeScript</span>
                        </div>
                        <div class="interes">
                            <i
                                class="icon-svg astro-icon"
                                style="font-size: 40px;"></i>
                            <span>Astro</span>
                        </div>
                        <!-- <div class="interes">
                            <i
                                class="icon-svg bun-icon"
                                style="font-size: 40px;"></i>
                            <span>Bun</span>
                        </div> -->
                        <!-- <div class="interes">
                    <i class="fa-solid fa-camera"></i>
                    <span>FOTOS</span>
                </div> -->
                    </div>
                </div>

                <!-- Professional Skills -->

                <div class="col">
                    <h3>Professional Skills</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i
                                class="fa-solid fa-comments"
                                style="font-size: 40px;"></i>
                            <span>Communication</span>
                        </div>
                        <div class="interes">
                            <i
                                class="fa-solid fa-users"
                                style="font-size: 40px;"></i>
                            <span>Teamwork</span>
                        </div>
                        <div class="interes">
                            <i
                                class="fa-solid fa-lightbulb"
                                style="font-size: 40px;"></i>
                            <span>Creativity</span>
                        </div>
                        <div class="interes">
                            <i
                                class="fa-solid fa-star"
                                style="font-size: 40px;"></i>
                            <span>Diligence</span>
                        </div>
                        <div class="interes">
                            <i
                                class="fa-solid fa-project-diagram"
                                style="font-size: 40px;"></i>
                            <span>Proj. Mgr.</span>
                        </div>
                        <div class="interes">
                            <i
                                class="fa-solid fa-project-diagram"
                                style="font-size: 40px;"></i>
                            <span>Agile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .icon-svg {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .typescript-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75q.918 0 1.627.111a6.4 6.4 0 0 1 1.306.34v2.458a4 4 0 0 0-.643-.361a5 5 0 0 0-.717-.26a5.5 5.5 0 0 0-1.426-.2q-.45 0-.819.086a2.1 2.1 0 0 0-.623.242q-.254.156-.393.374a.9.9 0 0 0-.14.49q0 .294.156.529q.156.234.443.444c.287.21.423.276.696.41q.41.203.926.416q.705.296 1.266.628q.561.333.963.753q.402.418.614.957q.213.538.214 1.253q0 .986-.373 1.656a3 3 0 0 1-1.012 1.085a4.4 4.4 0 0 1-1.487.596q-.85.18-1.79.18a10 10 0 0 1-1.84-.164a5.5 5.5 0 0 1-1.512-.493v-2.63a5.03 5.03 0 0 0 3.237 1.2q.5 0 .872-.09q.373-.09.623-.25q.249-.162.373-.38a1.02 1.02 0 0 0-.074-1.089a2.1 2.1 0 0 0-.537-.5a5.6 5.6 0 0 0-.807-.444a28 28 0 0 0-1.007-.436q-1.377-.575-2.053-1.405t-.676-2.005q0-.92.369-1.582q.368-.662 1.004-1.089a4.5 4.5 0 0 1 1.47-.629a7.5 7.5 0 0 1 1.77-.201m-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z'/%3E%3C/svg%3E");
            background-color: currentColor;
            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        .astro-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944c.856 1.026 2.043 1.352 3.272 1.535c1.897.283 3.76.177 5.522-.678c.202-.098.388-.229.608-.36c.166.473.209.95.151 1.437c-.14 1.185-.738 2.1-1.688 2.794c-.38.277-.782.525-1.175.787c-1.205.804-1.531 1.747-1.078 3.119l.044.148a3.16 3.16 0 0 1-1.407-1.188a3.3 3.3 0 0 1-.544-1.815c-.004-.32-.004-.642-.048-.958c-.106-.769-.472-1.113-1.161-1.133c-.707-.02-1.267.411-1.415 1.09c-.012.053-.028.104-.045.165zm-5.961-4.445s3.24-1.575 6.49-1.575l2.451-7.565c.092-.366.36-.614.662-.614s.57.248.662.614l2.45 7.565c3.85 0 6.491 1.575 6.491 1.575L16.088.727C15.93.285 15.663 0 15.303 0H8.697c-.36 0-.615.285-.784.727z'/%3E%3C/svg%3E");
            background-color: currentColor;
            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        .bun-icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M64 10.222c-5.234 0-10.394 2.325-16.36 5.734a358 358 0 0 0-6.1 3.58c-3.879 2.303-8.218 4.922-13.276 7.523h-.002v.002C10.607 36.257 0 51.657 0 68.204c0 13.707 7.219 26.122 18.814 35.082S46.388 117.778 64 117.778s33.589-5.532 45.184-14.492S128 81.911 128 68.204c0-16.563-10.61-31.946-28.264-41.141v-.004c-6.246-3.24-10.989-6.067-15.203-8.58l-.002-.003c-1.81-1.108-3.506-2.124-5.207-3.058l-.008-.004C73.744 12.236 69.211 10.222 64 10.222m0 1.058c4.942 0 9.273 1.905 14.802 5.058l.002.002l.004.002c1.68.923 3.368 1.93 5.175 3.04l.003.001h.002c4.214 2.514 8.983 5.363 15.26 8.618c17.38 9.052 27.694 24.092 27.694 40.203c0 13.336-7.015 25.444-18.405 34.245C97.148 111.251 81.39 116.72 64 116.72s-33.15-5.468-44.54-14.27C8.07 93.65 1.059 81.54 1.059 68.204c0-16.095 10.31-31.15 27.69-40.203c5.097-2.621 9.46-5.256 13.333-7.556a357 357 0 0 1 6.084-3.57C54.082 13.495 59.08 11.28 64 11.28m0 3.025c-4.27 0-8.705 2.096-14.223 5.173c-1.921 1.084-3.906 2.277-6.002 3.517v.002h-.002C39.83 25.345 35.32 28 30.258 30.654v-.002C14.011 39.127 4.231 53.155 4.231 68.203c0 12.586 6.75 23.98 17.579 32.2S47.558 113.697 64 113.697s31.359-5.074 42.188-13.293c10.83-8.22 17.58-19.615 17.58-32.2c0-15.05-9.781-29.075-26.047-37.52l-.002-.001c-6.378-3.254-11.355-6.314-15.405-8.734h-.002c-1.844-1.092-3.537-2.104-5.08-3.004h-.005c-5.152-2.951-8.992-4.64-13.227-4.64m3.957 3.256q.112 0 .24.047c12.812 5.043 13.693 14.755 12.136 20.45a.54.54 0 0 1-.234.33a.57.57 0 0 1-.76-.123a.52.52 0 0 1-.106-.386a26.1 26.1 0 0 0-3.638-10.81a27.2 27.2 0 0 0-7.957-8.384v-.066c-.488-.343-.212-1.058.319-1.058m-4.474.4a.53.53 0 0 1 .397.137c9.68 9.793 6.449 18.866 2.742 23.436c-.406.474-1.132-.018-.93-.589a25.6 25.6 0 0 0 1.132-11.279a25.9 25.9 0 0 0-3.857-10.704v-.064c-.254-.429.11-.902.516-.934zm-3.843.41c.267-.041.55.094.618.46c3.25 12.91-4.45 19.309-10.155 21.447c-.61.228-.982-.556-.508-.963a26.9 26.9 0 0 0 7.07-9.173a26 26 0 0 0 2.459-11.18c0-.335.25-.551.516-.591m-4.795 2.28c.26.066.463.287.386.612c-2.928 13.057-12.727 15.784-18.82 15.424c-.643.017-.628-.851-.019-1.031a29 29 0 0 0 10.484-5.52a27.8 27.8 0 0 0 7.238-9.166a.64.64 0 0 1 .731-.318zM42.971 55.28a9.7 9.7 0 0 1 2.052.17a9.44 9.44 0 0 1 4.774 2.464a8.9 8.9 0 0 1 2.55 4.612a8.7 8.7 0 0 1-.54 5.196a9.07 9.07 0 0 1-3.441 4.033a9.6 9.6 0 0 1-5.186 1.508c-2.47-.004-4.837-.954-6.583-2.64c-1.745-1.686-2.725-3.971-2.725-6.353a8.76 8.76 0 0 1 1.572-4.998a9.26 9.26 0 0 1 4.188-3.312a9.6 9.6 0 0 1 3.339-.68m41.994 0a9.7 9.7 0 0 1 2.054.176a9.43 9.43 0 0 1 4.772 2.479a8.9 8.9 0 0 1 2.537 4.622a8.7 8.7 0 0 1-.557 5.2a9.1 9.1 0 0 1-3.465 4.023a9.6 9.6 0 0 1-5.2 1.483c-2.463-.012-4.822-.968-6.556-2.655c-1.735-1.685-2.708-3.962-2.703-6.338c0-1.782.55-3.523 1.576-5.002a9.26 9.26 0 0 1 4.197-3.312a9.6 9.6 0 0 1 3.345-.676m-44.47 2.808a3.6 3.6 0 0 0-1.512.252a3.5 3.5 0 0 0-1.574 1.244a3.3 3.3 0 0 0-.593 1.878c0 .893.368 1.75 1.02 2.384a3.57 3.57 0 0 0 2.468.994a3.6 3.6 0 0 0 1.95-.56a3.4 3.4 0 0 0 1.298-1.512a3.27 3.27 0 0 0 .206-1.955a3.34 3.34 0 0 0-.954-1.733a3.55 3.55 0 0 0-2.308-.992Zm41.926 0a3.6 3.6 0 0 0-1.512.252a3.5 3.5 0 0 0-1.576 1.244a3.3 3.3 0 0 0-.591 1.878c0 .888.363 1.74 1.008 2.372a3.57 3.57 0 0 0 2.444 1.006h.033a3.6 3.6 0 0 0 1.953-.56a3.4 3.4 0 0 0 1.297-1.512a3.27 3.27 0 0 0 .207-1.955a3.34 3.34 0 0 0-.955-1.733a3.55 3.55 0 0 0-2.308-.992M53.81 79.618l20.68.032a.36.36 0 0 1 .334.146a13.2 13.2 0 0 1-2.357 4.81l-.072-.06c-2.132-1.957-4.952-3.072-7.895-3.12a11 11 0 0 0-4.54 1.023a10.6 10.6 0 0 0-3.617 2.752a13.2 13.2 0 0 1-2.884-5.438c.016-.032.083-.144.35-.144zm10.775 3.44c2.51.072 4.9 1.047 6.702 2.732l.083.068q-.522.528-1.106 1a10.7 10.7 0 0 1-6.115 2.794a10.6 10.6 0 0 1-6.116-2.827q-.243-.196-.475-.405h.006a8.9 8.9 0 0 1 3.11-2.456a9.3 9.3 0 0 1 3.91-.905z'/%3E%3C/svg%3E");
            background-color: currentColor;
            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        
    </style>

    <!-- Espacio -->
    <!-- <div class="espacio">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->

    <!-- SECCION CURRICULUM -->
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Education</h3>
                    <div class="item izq">
                        <h4>SOFTWARE FOUNDATIONS</h4>
                        <span class="casa">Holberton</span>
                        <span class="fecha">2023 - 2024</span>
                        <p style="text-align: justify;">During 9 months at Holberton, I received intensive training in software development covering a wide range of technologies and methodologies. The program, based on project-based learning and teamwork, allowed me to gain practical skills in programming with JavaScript, TypeScript, Python, and web technologies such as HTML and CSS. Additionally, I became familiar with the SCRUM methodology, SQL and NoSQL database management, and version control tools. This experience prepared me to tackle real-world software development challenges, enhancing my ability to solve complex problems and collaborate effectively in agile teams.
                            <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <!-- <div class="item izq">
                        <h4>Arte y Multimedia</h4>
                        <span class="casa">Universidad de Oxford</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div> -->
                    <!-- <div class="item izq">
                        <h4>Arte y Multimedia</h4>
                        <span class="casa">Universidad de Oxford</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div> -->
                </div>

                

                <!-- Professional experience -->
                <div class="col derecha">
                    <h3>Professional experience</h3>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">mancii</span>
                        <span class="fecha">2024</span>
                        <p style="text-align: justify;">As a Full Stack Developer at Mancii, I spearheaded the development of an innovative script generator, empowering users to create custom web interfaces with ease. I excelled in both front-end and back-end development, leveraging JavaScript, HTML, CSS, Node.js, and SQL to deliver robust and user-friendly solutions. My role involved close collaboration with cross-functional teams, conducting meticulous code reviews to uphold high-quality standards, and enhancing user experience through continuous feedback and technology upgrades. Additionally, I actively contributed to agile SCRUM practices, ensuring efficient and effective project delivery.</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <!-- <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Nombre de Compañía</span>
                        <span class="fecha">2005 - 2008</span>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Espacio -->
    <!-- <div class="espacio">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->

    <!-- SECCION PORTFOLIO -->
    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>PORTFOLIO</h2>
            <div class="galeria">
                <div class="proyecto">
                    <img src="../../assets/img/p1.png" alt="p1 portfolio">
                    <div class="overlay">
                        <h3>User Interface (UI) builder</h3>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../../assets/img/p2.png" alt="p2 portfolio">
                    <div class="overlay">
                        <h3>Web page</h3>
                        <p>Front Developer</p>
                    </div>
                </div>
                <!-- <div class="proyecto">
                    <img src="../../public/assets/img/p3.jpg" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div> -->
                <!-- <div class="proyecto">
                    <img src="../../public/assets/img/p4.jpg" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div> -->
                <!-- <div class="proyecto">
                    <img src="../../public/assets/img/p5.jpg" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div> -->
                <!-- <div class="proyecto">
                    <img src="../../public/assets/img/p6.jpg" alt="">
                    <div class="overlay">
                        <h3>Diseño Creativo</h3>
                        <p>Fotografía</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Espacio -->
    <!-- <div class="espacio">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->

    <!-- SECCION CONTACTO -->
    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACT</h2>
            <div class="fila">
                <!-- Formulario -->
                <div class="col">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Phone Number">
                    <input type="text" placeholder="Email Address">
                    <input type="text" placeholder="Subject">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    
                </div>
                <!-- Mapa -->
                <div class="col">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                Bogotá, Colombia
                            </li>
                            <!-- <li>
                                <i class="fa-solid fa-mobile-screen"></i>
                                Phone: 3028411890
                            </li> -->
                            <li id="copyEmail">
                                <i class="fa-solid fa-envelope"></i>
                                Email: camilofetecua2011@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button>
                SEND <i class="fa-solid fa-paper-plane"></i>
                <span class="overlay"></span>
                </button>
        </div>
    </section>


    <!-- footer -->
    <footer>
        <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a> -->
            <!-- <a href="#"><i class="fa-brands fa-twitter"></i></a> -->
            <a href="https://github.com/camilof91" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/camilo-fetecua" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://medium.com/@camilofetecua2011" target="_blank"><i class="fa-solid fa-m"></i></a>
        </div>
    </footer>
    <script src="../scripts/script"></script>
</Layout>